body {
    background: #F4F3F3;
    margin: 0;
    }
    
    #side_nav {
    background: #ffffff;
    width: 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;
    overflow-y: auto;
    transition: all 0.3s;
    }
    
    .content {
    margin-left: 250px;
    padding: 20px;
    }
    
    hr.h-color {
    background: #eee;
    }
    
    .sidebar li.active {
    background: #eee;
    border-radius: 8px;
    }
    
    .sidebar li.active a,
    .sidebar li.active a:hover {
    color: #000;
    }
    
    .sidebar li a {
    color: #000000;
    }
    
    @media (max-width: 767px) {
    #side_nav {
    margin-left: -250px;
    position: fixed;
    }
    
    #side_nav.active {
    margin-left: 0;
    }
    }
    
    .card img {
    max-width: 25%;
    margin: auto;
    padding: 0.5em;
    border-radius: 0.7em;
    }
    
    .card {
    flex-direction: row;
    max-width: 30em;
}